<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавить новый товар</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Добавить новое мероприятие</h1>

    <form th:action="@{/}" method="POST" enctype="">
        <label>Название</label>
        <input type="text" name="name" placeholder="Введите название"/>
        <br>
        <label>Описание</label>
        <input type="text" name="description" placeholder="Введите описание"/>
        <br>
        <label>Ссылка</label>
        <input type="text" name="link" placeholder="Введите ссылку"/>
        <br>
        <label>Дата начала</label>
        <input type="datetime-local" name="dateStart" placeholder="Введите дату начала"/>
        <br>
        <label>Дата окончания</label>
        <input type="datetime-local" name="dateEnd" placeholder="Введите дату окончания"/>
        <br>
        <input type="submit"/>
    </form>
    <br>
</body>
</html>