<div class="container">
  <div class="navbar">

    <h1>
      <p>Главное меню</p>
    </h1>

    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="btn"><a [routerLink]="['/']">Все события</a></li>
      <li routerLinkActive="active" class="btn"><a [routerLink]="['/gb']">События GeekBrains</a></li>
      <li routerLinkActive="active" class="btn"><a [routerLink]="['/sb']">События SkillBox</a></li>
      <li routerLinkActive="active" class="btn"><a [routerLink]="['/yandex']">События Yandex</a></li>
    </ul>

  </div>
</div>

